---
import  Header from '../components/header.astro'
import MainImage from '../components/main-image.astro'
import Wrapper from '../components/wrapper.astro'
import HealthItem from '../components/health-item.astro'
import Limitations from '../components/limitations.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">

  <title>Frontend Mentor | Body Mass Index Calculator</title>
</head>
<body>
	<main class="flex flex-col justify-center items-center">
		<Header title='Body Mass Index Calculator' description='Better understand your weight in relation to your height using our  body mass index (BM) calculator. While BMI is not the sole determinant  of a healthy weight, it offers a valuable starting point to evaluate  your overall health and well-being.' />
		
		<Wrapper customClass="mt-20">
			<MainImage title='What your BMI result means' description="A BMI range of 18.5 to 24.9 is considered a 'healthy weight.' Maintaining a healthy weight may lower your chances of experiencing health issues later on, such as obesity and type 2 diabetes. Aim for a nutritious diet with reduced fat and sugar content, incorporating ample fruits and vegetables. Additionally, strive for regular physical activity, ideally about 30 minutes daily for five days a week."/>
		</Wrapper>

    <div class="bg-gradient-to-br from-fm_gradient_from to-fm_gradient_to py-6 w-full">
      <Wrapper customClass="mt-20 flex flex-col justify-center items-center gap-12 p-6">
        <HealthItem title='Healthy eating' description='Healthy eating promotes weight control, disease prevention, better digestion, immunity, mental clarity, and mood.' image="icon-eating.svg"/>
        <HealthItem title='Regular exercise' description='Exercise improves fitness, aids weight control, elevates mood, and reduces disease risk, fostering wellness and longevity.' image="icon-exercise.svg"/>
        <HealthItem title='Adequate sleep' description='Sleep enhances mental clarity, emotional stability, and physical wellness, promoting overall restoration and rejuvenation.' image="icon-sleep.svg"/>
      </Wrapper>
    </div>

    <Wrapper customClass="my-20">
      <Limitations title='Limitations of BMI' description="Although BMI is often a practical indicator of healthy weight, it is not suited for every person. Specific groups should carefully consider their BMI outcomes, and in certain cases, the measurement may not be beneficial to use."/>
    </Wrapper>
	</main>
</body>
</html>

<style is:global>
	@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Regular.ttf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-SemiBold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

</style>