---
import Wrapper from './wrapper.astro'
import MainInfo from './main-info.astro'
import Form from './form.astro'
interface Props {
  title: string
  description: string
}
const {title,description} =  Astro.props
---
<section>
  <div class="relative hidden xl:block">
    <div class="absolute bg-gradient-to-br from-fm_gradient_from to-fm_gradient_to rounded-b-[35px] w-9/12 h-full top-0 left-2 z-[-1]"></div>
    <Wrapper customClass='flex flex-row gap-16'>
      <div class="flex-1">
        <MainInfo title={title} description={description}/>
      </div>
      <div class="flex-1 py-40">
        <Form/>
      </div>
    </Wrapper>
  </div>
<div class="block xl:hidden">
  <div class="bg-gradient-to-br from-fm_gradient_from to-fm_gradient_to rounded-b-[35px] pb-[156px] pt-6 ">
    <Wrapper>
      <MainInfo title={title} description={description}/>
    </Wrapper>
  </div>
  <Wrapper>
    <div class="py-6 mt-[-140px]">
      <Form/>
    </div>
  </Wrapper>  
</div>


</section>