---
import LimitationCard from './limitation-card.astro';
interface Props {
  title: string;
  description: string;
}
const { title, description }: Props = Astro.props;
---
<section class="flex flex-col gap-16">
  <div class="py-6 flex flex-col gap-6">
    <div class="text-center">
      <h2  class="font-semibold text-fm_gunmetal text-[32px] leading-9 tracking-tight">{title}</h2>
    </div>
    <div class="text-fm_dark_electric_blue text-base text-center">
      <p>{description}</p>
    </div>
  </div>
  <div class="flex flex-col gap-6 sm:grid sm:grid-cols-2 ">
    <LimitationCard image='icon-gender.svg' title='Gender' description="The development and body fat composition of girls and boys vary with age. Consequently, a child's age and gender are considered when evaluating their BMI."/>
    <LimitationCard image='icon-age.svg' title='Age' description="In aging individuals, increased body fat and muscle loss may cause BMI to underestimate body fat content."/>
    <LimitationCard image='icon-muscle.svg' title='Muscle' description="BMI may misclassify muscular individuals as overweight or obese, as it doesn't differentiate muscle from fat."/>
    <LimitationCard image='icon-pregnancy.svg' title='Pregnancy' description="Expectant mothers experience weight gain due to their growing baby. Maintaining a healthy pre-pregnancy BMI is advisable to minimise health risks for both mother and child."/>
    <LimitationCard customClass="sm:ml-[50%]" image='icon-race.svg' title="Race" description="Certain health concerns may affect individuals of some Black and Asian origins at lower BMIs than others. To learn more, it is advised to discuss this with your GP or practice nurse."/>
  </div>
</section>