---
interface Props {
  title: string;
  description: string;
}
const { title, description }: Props = Astro.props;
---
<div class="mb-16 sm:mb-24 sm:flex sm:gap-16">
  <div class="relative w-full sm:flex-1 sm:ml-[-8rem]">
    <picture>
      <img src="/assets/images/image-man-eating.webp" alt="man eating">
    </picture>
  </div>
  <div class="py-6 flex flex-col gap-6 sm:flex-1">
    <div>
      <h2  class="font-semibold text-fm_gunmetal text-[32px] leading-9 tracking-tight">{title}</h2>
    </div>
    <div class="text-fm_dark_electric_blue text-base ">
      <p>{description}</p>
    </div>
  </div>
</div>